@page
@model LoginModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Login";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>

@* Build a form with two imputs user name and password with button when user clicked submit then the Login funtion has to be triggered and the user name and password has to be passed to the function. *@

<form method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="form-group">
        <label asp-for="LoginViewModel.UserName"></label>
        <input asp-for="LoginViewModel.UserName" class="form-control" />
        <span asp-validation-for="LoginViewModel.UserName" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="LoginViewModel.Password"></label>
        <input asp-for="LoginViewModel.Password" class="form-control" />
        <span asp-validation-for="LoginViewModel.Password" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Login</button>
</form>